<ion-header>
  <ion-navbar color="primary">
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>IonReddit App</h2>
  <p>A simple Ionic app for fetching and displaying subreddits</p>
  <ion-item>
    Version: 1.0.0
  </ion-item>
</ion-content>
